[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
ruff = "*"
mypy = "*"
pytest = "*"
pytest-asyncio = "*"
pysipp = "*"

[requires]
python_version = "3.11"
